fastapi
uvicorn[standard]
python-dotenv
pydantic-settings

sqlalchemy
asyncpg
alembic

redis

logfire
logfire[fastapi]
logfire[sqlalchemy]

python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1

httpx
python-multipart
email-validator

pytest
pytest-asyncio

black
ruff

gunicorn
psycopg2-binary
email-validator